<div id="highlight_dtl" class="hidden_content">
	<div id="personal_highlights">
		<div class="row panel_container">
			<div class="large-6 small-12 columns">
				<div class="hightlight_panel">
						<div class="large-4 small-3 columns">
							<%= image_tag("performer.png", :class => "highlight_detail_img hide-for-small") %>
							<%= image_tag("performer-small.png", :class => "highlight_detail_img show-for-small") %>
						</div>
						<div class="large-8 small-7 columns">		
							<h5>Multiple year <em>OUTSTANDING PERFORMER</em> rating.Nominated as HIGH ACHIEVER OF THE YEAR  in 2007.</h5> 
						</div>	    
				</div>
			</div>
			<div class="large-6 small-12 columns">
				<div class="hightlight_panel">
					<div class="large-4 small-4 columns">
						<%= image_tag("architect.png", :class => "highlight_detail_img") %>
					</div>
					<div class="large-8 small-8 columns">
						<h5>An archiect that truely understands <em>BUSINESS</em>.Manage business driven, IT implemented  <em>ENTERPRISE MODEL</em>  that is widely adopt in all high profile projects.</h5>
					</div>						
				</div>
			</div>
		</div>
		<div class="row panel_container">
			<div class="large-6 small-12 columns">
				<div class="hightlight_panel">
					<div class="large-4 small-4 columns">
					     <%= image_tag("integrator.png", :class => "highlight_detail_img") %>
					 </div>
					<div class="large-8 small-8 columns">
						<ul class="no-bullets">
							<li>
								<h5><em>CORE BANKING SYSTEM</em> (Mortgage) integration.  Reviewed NAB and Westpac core systems and integrate insurance services throughout the lifecycle of Mortgage.<h5>
							</li>
							<li>
								<h5>Member of <em>LIXI</em> architecture group</h5>	
							</li>
						</ul>						
					</div>	
				</div>
			</div>
			<div class="large-6 small-12 columns">
				<div class="hightlight_panel">
					<div class="large-4 small-4 columns">
						<%= image_tag("agile.png", :class => "highlight_detail_img") %>
					</div>
					<div class="large-8 small-8 columns">
						<ul class="no-bullets">
							<li>
								<h5><em>5</em> years of agile project management. </h5>
							</li>
							<li>
								<h5><em>8</em> years of  agile development.</h5>	
							</li>
							<li>
								<h5><em>Result driven</em> agile evangelist.</h5>
							</li>
						</ul>						
					</div>	
				</div>
			</div>
		</div>
		<div class="row panel_container">
				<div class="large-6 small-12 columns">
					<div class="hightlight_panel">
						<div class="large-4 small-4 columns">
							<%= image_tag("innovator.png", :class => "highlight_detail_img") %>
						</div>
						<div class="large-8 small-8 columns">
							<ul class="no-bullets">
								<li>
									<h5><em>THE CREATOR</em> of mobile strategy at <em>QBELMI</em>.</h5>
								</li>
								<li>
									<h5><em>FIRST</em> mobile service delivery <em>QBE WIDE</em>.  </h5>	
								</li>
								<li>
									<h5><em>INSURANCE PRODUCT</em> and <em>BUSINESS RULE</em> innovation.</h5>
								</li>
							</ul>						
						</div>								
					</div>
				</div>
				<div class="large-6 columns">
					<div class="hightlight_panel">
						<div class="large-4 small-4 columns">
							<%= image_tag("manager.png", :class => "highlight_detail_img") %>
						</div>
						<div class="large-8 small-8 columns">
							<ul class="no-bullets">
								<li>
									<h5>Built <em>CORE DEVLIVERY CAPABIILITY</em> at QBELMI, recruited and trained key technical leads and developers.</h5>
								</li>
								<li>
									<h5>Managed the delivery of <em>5 SUCCESSFUL</em> outsource projects. with the size up to <em>HUNDREDS</em> of developers.</h5>	
								</li>
							</ul>						
						</div>	
					</div>
				</div>
		</div>				
	</div>
	<div id="show_project" class="row">
		<div class="large-12 columns">
		<%= link_to image_tag('project_dtl_btn.png', :class => 'imgbutton_middle', :id=>"project_dtl_btn"), "javascript:void(0);"%>
		</div>
	</div>
	<div id="close_project" class="row hidden_content">
		<div class="large-12 columns">
		<%= link_to image_tag('close_btn.png', :class => 'imgbutton_middle', :id=>"project_close_btn"), "javascript:void(0);"%>	
		</div>
	</div>	

</div>
