<div id="highlight_dtl" class="hidden_content">
		<div class="row">
			<div class="large-6 small-12 columns">
				<div class="hightlight_panel">
					<div class="row show-for-small">
						<div class="small-9 small-offset-3 columns">
							<span>HIGH PERFORMER</span>
						</div>
					</div>
					<div class="row table_content">
						<div class="large-4 small-3 columns">
							<%= image_tag("performer.png", :class => "highlight_detail_img hide-for-small") %>
							<%= image_tag("performer-small.png", :class => "highlight_detail_img_small show-for-small") %>
						</div>
						<div class="large-8 small-9 columns">		
							<h6>Multiple years <em>OUTSTANDING PERFORMER</em> rating. Nominated as <em>HIGH ACHIEVER OF THE YEAR</em> in 2007.</h6> 
						</div>
					</div>
				</div>
			</div>
			<div class="large-6 small-12 columns">
				<div class="hightlight_panel">
					<div class="row show-for-small">
						<div class="small-9 small-offset-3 columns">
							<span>ENTERPRISE ARCHITECT</span>
						</div>
					</div>					
					<div class="row table_content">
						<div class="large-4 small-3 columns">
							<%= image_tag("architect.png", :class => "highlight_detail_img hide-for-small") %>
							<%= image_tag("architect-small.png", :class => "highlight_detail_img_small show-for-small") %>		
						</div>
						<div class="large-8 small-9 columns">
							<h6>An architect that truly understands <em>BUSINESS</em>. Managed business driven, IT implemented  <em>ENTERPRISE MODEL</em>  that is widely adopted in all high profile projects.</h6>
						</div>
					</div>						
				</div>
			</div>
		</div>		
		<div class="row">
			<div class="large-6 small-12 columns">
				<div class="hightlight_panel">
					<div class="row show-for-small">
						<div class="small-9 small-offset-3 columns">
							<span>INTEGRATION EXPERT</span>
						</div>
					</div>						
					<div class="row table_content">
						<div class="large-4 small-3 columns">
						     <%= image_tag("integrator.png", :class => "highlight_detail_img hide-for-small") %>
						     <%= image_tag("integrator-small.png", :class => "highlight_detail_img_small show-for-small") %>	
						 </div>
						<div class="large-8 small-9 columns">
							<ul class="no-bullets">
								<li>
									<h6><em>CORE BANKING SYSTEM</em> (Mortgage) integration.  Reviewed NAB and Westpac core systems and integrate insurance services throughout the lifecycle of mortgage process.<h6>
								</li>
								<li>
									<h6>Member of <em>LIXI</em> architecture group</h6>	
								</li>
							</ul>						
						</div>
					</div>	
				</div>
			</div>
			<div class="large-6 small-12 columns">
				<div class="hightlight_panel">
					<div class="row show-for-small">
						<div class="small-9 small-offset-3 columns">
							<span>AGILE EVANGELIST</span>
						</div>
					</div>					
					<div class="row table_content">
						<div class="large-4 small-3 columns">
							<%= image_tag("agile.png", :class => "highlight_detail_img hide-for-small") %>
							<%= image_tag("agile-small.png", :class => "highlight_detail_img_small show-for-small") %>			
						</div>
						<div class="large-8 small-9 columns">
							<ul class="no-bullets">
								<li>
									<h6><em>5</em> years of agile project management. </h6>
								</li>
								<li>
									<h6><em>8</em> years of  agile development.</h6>	
								</li>
								<li>
									<h6><em>Result driven</em> agile evangelist.</h6>
								</li>
							</ul>						
						</div>
					</div>		
				</div>
			</div>
		</div>
		<div class="row">
				<div class="large-6 small-12 columns">
					<div class="hightlight_panel">
						<div class="row show-for-small">
							<div class="small-9 small-offset-3 columns">
								<span>INNOVATOR</span>
							</div>
						</div>							
						<div class="row table_content">
							<div class="large-4 small-3 columns">
								<%= image_tag("innovator.png", :class => "highlight_detail_img hide-for-small") %>
								<%= image_tag("innovator-small.png", :class => "highlight_detail_img_small show-for-small") %>								
							</div>
							<div class="large-8 small-9 columns">
								<ul class="no-bullets">
									<li>
										<h6><em>THE CREATOR</em> of mobile strategy at <em>QBELMI</em>.</h6>
									</li>
									<li>
										<h6><em>FIRST</em> mobile service delivery <em>QBE WIDE</em>.  </h6>	
									</li>
									<li>
										<h6><em>INSURANCE PRODUCT</em> and <em>BUSINESS RULE</em> innovation.</h6>
									</li>
								</ul>						
							</div>	
						</div>								
					</div>
				</div>
				<div class="large-6 columns">
					<div class="hightlight_panel">
					<div class="row show-for-small">
							<div class="small-9 small-offset-3 columns">
								<span>VETERAN MANAGER</span>
							</div>
						</div>							
						<div class="row table_content">
							<div class="large-4 small-3 columns">
								<%= image_tag("manager.png", :class => "highlight_detail_img hide-for-small") %>
								<%= image_tag("manager-small.png", :class => "highlight_detail_img_small show-for-small") %>								
							</div>
							<div class="large-8 small-9 columns">
								<ul class="no-bullets">
									<li>
										<h6>Lead <em>DevOps Initiative</em> for QBE Australia, Managed 5 teams of Accenture outsourced development teams.</h6>
									</li>
								</ul>						
							</div>
						</div>	
					</div>
				</div>
		</div>				
	<div id="show_project" class="row">
		<div class="large-12 columns">
		<%= link_to image_tag('project_dtl_btn.png', :class => 'imgbutton_middle', :id=>"project_dtl_btn"), "javascript:void(0);"%>
		</div>
	</div>
	<div id="close_project" class="row hidden_content">
		<div class="large-12 columns">
		<%= link_to image_tag('close_btn.png', :class => 'imgbutton_middle', :id=>"project_close_btn"), "javascript:void(0);"%>	
		</div>
	</div>	

</div>
