<div class="section-banner">
	<div class="row">
			<h2>AT WORK, I AM...</h2>
	</div>
</div>
<div class="highlight" >
	<div class="row">
	<ul class="small-block-grid-2 large-block-grid-6">
		<li>
			<%= image_tag("performer.png", :class => "highlight_preview") %>
		</li>
		<li>
			<%= image_tag("architect.png", :class => "highlight_preview") %>
		</li>
		<li>
			<%= image_tag("integrator.png", :class => "highlight_preview") %>
		</li>
		<li>
			<%= image_tag("agile.png", :class => "highlight_preview") %>
		</li>
		<li>
			<%= image_tag("innovator.png", :class => "highlight_preview") %>
		</li>
		<li>
			<%= image_tag("manager.png", :class => "highlight_preview") %>
		</li>
	</ul>
		
	</div>
<div>


