
<div class="section-banner">
	<div class="row">
			<h2>AT WORK, I AM...</h2>
	</div>
</div>
<div class="dark_section" >
	<div id="highlight_minimum_view" class="row">
		<ul class="small-block-grid-2 large-block-grid-6">
			<li>
				<%= image_tag("performer.png", :class => "highlight_preview") %>
			</li>
			<li>
				<%= image_tag("architect.png", :class => "highlight_preview") %>
			</li>
			<li>
				<%= image_tag("innovator.png", :class => "highlight_preview") %>
			</li>			
			<li>
				<%= image_tag("integrator.png", :class => "highlight_preview") %>
			</li>
			<li>
				<%= image_tag("agile.png", :class => "highlight_preview") %>
			</li>
			<li>
				<%= image_tag("manager.png", :class => "highlight_preview") %>
			</li>
		</ul>
	</div>
	<div class="row">
		<div class="large-12 columns">
		<%= link_to image_tag('highlight_more_btn.png', :class => 'imgbutton_middle', :id=>"highlight_more_btn"), "javascript:void(0);"%>
		</div>
	</div>
	<div id="highlight_dtl_header" class="row hidden_content">
		<div class="large-12 columns">
		<%= link_to image_tag('close_btn.png', :class => 'imgbutton_middle', :id=>"highlight_close_btn"), "javascript:void(0);"%>
		</div>
	</div>	
	<%= render 'detailed_highlights' %>	
</div>
<%= render 'project_experience' %>	


