<div class="container">
	<div class="row">
		<div class="span2">
				<%= image_tag("performer.png", :class => "highlight_preview") %>
		</div>
		<div class="span2">
				<%= image_tag("architect.png", :class => "highlight_preview") %>
		</div>
		<div class="span2">
				<%= image_tag("integrator.png", :class => "highlight_preview") %>
		</div>
		<div class="span2">
				<%= image_tag("agile.png", :class => "highlight_preview") %>
		</div>
		<div class="span2">
				<%= image_tag("innovator.png", :class => "highlight_preview") %>
		</div>
		<div class="span2">
				<%= image_tag("manager.png", :class => "highlight_preview") %>
		</div>						
	</div>
</div>