<div class="section-banner-white">
	<div class="row">
			<h2>KNOW MORE OF ME ...</h2>
	</div>
</div>
<div class="light_section">
	<div class="row">		
		<div class="large-4 columns">
				<h3 class="table-header-white">TALK TO ME</h3>
				<div class="more_content">
					<div class="row table_content">
						<div class="large-3 small-3 large-offset-1 small-offset-1 columns label">PHONE</div>
						<div class="large-8 small-8 columns value">+61 2 92397825</div>
					</div>
					<div class="row table_content">
						<div class="large-3 small-3 large-offset-1 small-offset-1 columns label">MOBILE</div>
						<div class="large-8 small-8 columns value">+61 0425349793</div>
					</div>
					<div class="row table_content">
						<div class="large-3 small-3 large-offset-1 small-offset-1 columns label">EMAIL</div>
						<div class="large-8 small-8 columns value"><span>irisjacky99@gmail.com</span></div>
					</div>										
				</div>
		</div>	
		<div class="large-4 columns">
				<h3 class="table-header-white">CONNECT WITH ME</h3>
				<div class="more_content">
					<div class="row table_content">
						<div class="large-11 small-11 large-offset-1 small-offset-1 columns label">LET'S SOCIAL.</div>
					</div>
					<!--
					<div class="row table_content">
						<div class="large-3 small-3 large-offset-1 small-offset-1 columns">
							<%= image_tag "facebook.png" %>
						</div>
						<div class="large-3 small-3 columns">
							<%= image_tag "linkedin.png" %>
						</div>
						<div class="large-3 small-3 columns">
							<%= image_tag "skype.png" %>
						</div>
						<div class="large-2 small-2 columns"></div>											
					</div>
					<div class="row table_content">
						<div class="large-3 small-4 large-offset-1 small-offset-1 columns">
							<%= image_tag "twitter.png" %>
						</div>	
						<div class="large-8 small-7 columns"></div>												
					</div>					
					-->
					<div class="row table_content">
						<div class="large-11 small-11 large-centered small-centered columns">
							<span class="social_icons">
								<%= image_tag "facebook.png" %>
							</span>
							<span class="social_icons">
								<%= image_tag "linkedin.png" %>
							</span>
							<span class="social_icons">
								<%= image_tag "skype.png" %>
							</span>
							<span class="social_icons">
								<%= image_tag "twitter.png" %>
							</span>
						</div>
					</div>
				</div>
		</div>
		<div class="large-4 columns">
			<h3 class="table-header-white">KNOW MY COMPANY</h3>
			<div class="more_content">
					<div class="row table_content">
						<div class="large-11 small-11 large-offset-1 small-offset-1 columns">
							<%= image_tag "macquarie_uni_icon.png" %>
						</div>												
					</div>		
					<div class="row table_content">
						<div class="large-11 small-11 large-offset-1 small-offset-1 columns">
							<%= image_tag "qbe_logo.png" %>
						</div>												
					</div>										
			</div>
		</div>	
	</div>
</div>
