<div class="section-banner">
	<div class="row">
			<h2>WHEN I AM NOT WORKING...</h2>
	</div>
</div>
<div class="dark_section" >

		<!--
	<ul class="clearing-thumbs" data-clearing>
	  <li><%= link_to(image_tag("facebook.png"), image_path("facebook.png") )%></li>
	  <li><%= link_to(image_tag("facebook.png"), image_path("facebook.png")) %></li>
	  <li><%= link_to(image_tag("facebook.png"), image_path("facebook.png")) %></li>
	</ul>
-->

	<div class="row">
		<ul data-orbit>	
		  <li>
		   <%= image_tag "photos/bridge.jpg" %>
		  </li>
		  <li>
		    <%= image_tag "photos/piramid.jpg" %>
		  </li>
		  <li>
		    <%= image_tag "photos/ricky-1.jpg" %>
		  </li>
		  <li>
		    <%= image_tag "photos/tower.jpg" %>		  
		</li>
		  <li>
		    <%= image_tag "photos/wineglassbay.jpg" %>
		  </li>    
		</ul>
	</div>
</div>